/* ------------------------------- Coloque sua estilização aqui ------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body{
    background-color: var(--primary-color-2);
    color: var(--secondary-color-3);
    max-width: 100vw;
}



.header__container{
    width: 100vw;
    height: 65px;

    background-color: var(--primary-color-1);
    color: var(--secondary-color-3);
    border-bottom: 2px solid var(--brand-color-1);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;

    position: fixed;
    top: 0;
    right: 0;

    
}
.header__logo {
    font: var(--font-text-2);
}

header button{
    width: 300px;
    height: 40px;
    

    font: var(--font-text-3);
    background-color: var(--primary-color-1);
    color: var(--secondary-color-3);
    border: 1px solid var(--secondary-color-3);

    cursor: pointer;
}

.deal__container{
    height: 70vh;
    

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 30px
}

.deal__title{
    font: var(--font-title-2);
    
}
.deal__title span{
    color: var(--brand-color-1);
}

.deal__subtitle{
    width: 65vw;
    font: var(--font-text-3);
    color: var(--secondary-color-1);
    align-self: center;

}

.deal__about{
    padding: 5px 10px;
    background-color: var(--brand-color-1);
    border: 1px solid var(--brand-color-1);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--brand-color-2);
    border: 1px solid var(--brand-color-2);
}

.about__container{
    height: 200px;
    
    background-color: var(--primary-color-1);
    display: flex;
}

.about__title{
    width: 50vw;
    font: var(--font-title-3);
    text-align: center;
    align-self: center;
}

.about__text{
    width: 50vw;
    text-align: center;
    align-self: center;
    font: var(--font-text-3);
}

.questions__container{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.questions__container div{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questions__container h2{
    font: var(--font-title-3);
}
.questions__container p{
    font: var(--font-text-3);
    color: var(--secondary-color-1);
}

.btn_span{
    width: 160px;
    padding: 10px 5px;
    background-color: var(--brand-color-1);
    border: 1px solid var(--brand-color-1);

    font: var(--font-text-6);
    text-align: center;
}
.questions__list span{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions__list h3{
    font: var(--font-title-3);
    
}

.questions__list p {
    font: var(--font-text-4);
}

.testimony{
    padding-top: 30px;
}

.testimony, .testimony__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.testimony__ul{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
}

.testimony__li{
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
.testimony__container h3{
    font: var(--font-title-3);
}

.testimony__container p{
    font: var(--font-text-4);
    
}

.testimony__container span{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimony__right{

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
    align-items: center;
    width: 50vw;
}

.testimony__right_div{
    background-color: var(--brand-color-1);
    width: 300px;
    height: 300px;
    padding: 25px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.testimony__right h2{
    text-align: center;
    font: var(--font-text-1);
}
.testimony__right p{
    font: var(--font-text-4);
}





/* footer */
footer{
    width: 100vw;
    height:60px;
    margin-top: 5px;
    
    background-color: var(--primary-color-1);

    display: flex;
    justify-content: center;
    align-items: center;

}

footer h3{
    font: var(--font-text-2);
}
.modal__controller{
    
    /* width: 505px;
    height: 405px; */
    background-color: var(--primary-color-1);
    color: var(--sencondary-color-3);
    border: 0;
    padding: 0;
}

.modal__container{
    width: 500px;
    height: 400px;
    background-color: var(--primary-color-1);
    color: var(--sencondary-color-3);
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid var(--brand-color-1);
    
}


.modal__header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.modal__header span{
    font: var(--font-title-3);
}

.modal__close{
    width: 30px;
    height: 30px;
    align-self: flex-start;
    background-color: var(--primary-color-2);
    color: var(--primary-color-3);
    font: var(--font-text-2);
    border: 0;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    text-align: center; 
    line-height: 0;
}

.modal__close:hover{
    background-color: brown;
}

.modal__container p{
    
    padding: 0 20px;
}

.modal__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.modal__form button{
    width: 470px;
    height: 50px;

    border: 0;

    background-color: var(--brand-color-1);
    color: var(--secondary-color-3);

    font: var(--font-text-6)
}

.modal__form input{
    width: 467px;
    height: 40px;
    border: 1px solid var(--primary-color-1);
    background-color: var(--primary-color-2);
    padding: 3px;

    font: var(--font-text-5);
    color: var(--secondary-color-3);
}

.modal__form input:focus{

    background-color: var(--primary-color-1);
    padding: 3px;
    
    font: var(--font-text-5);
    color: var(--secondary-color-3);
    border: 1px solid var(--brand-color-2);
    outline: none;
}